body{
	color: #333;
}
.header{
	margin-top: 2rem;
	margin-bottom: 3rem;
}
.header h1{
	margin-bottom: 0;
}
.header h1 .bold{
	font-family: "Dancing Script";
	margin-left: 15px;
	font-size: 6rem;
}
.header h6, .header h6 a{
	text-transform: uppercase;
	color: #999;
}
.articles p{
	font-size: 20px;
}
.bold{
	font-weight: 700;
}
.home-link{
	border: none;
}
.home-link:hover{
	color: #aaa;
}
.article{
	max-width: 600px;
	font-size: 18px;
	color: #555;
}
.slightly-muted{
	color: #555;
}
.muted{
	color: #999;
}
a{
	color: #555;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
}
a:hover{
	color: #111;
}
.articles, .article{
	font-family: "Lora", serif;
}
@media (min-width:550px){
	.header{
		margin-top: 18rem;
		margin-bottom: 4.5rem;
	}
	.post-date{
		margin-right: 1.5rem;
	}
}